.address__contact {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0px;
  }

  &:hover,
  &:focus {
    color: var(--accent-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.address__link {
  @include font(14px, 1.71, 0.03em, 400);
  color: var(--footer-address-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.address__address {
  @include font(14px, 1.71, 0.03em, 400);
  color: var(--primary-white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
