.logo {
  @include font(26px, 1.19, 0.03em, 700);
  font-family: "Raleway", sans-serif;
  margin-right: 93px;
}

.logo__first-part {
  color: var(--logo-first-part-color);
}
.logo__second-part {
  color: var(--logo-second-part-color);
}
.logo__third-part {
  color: var(--logo-third-part-color);
}
