.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--no-padding {
  padding-top: 0;
}

.section__title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-align: center;
  color: var(--header-text-color);
  margin-bottom: 50px;
}
