.work {
  display: flex;
  align-items: center;
}
.work__item {
  margin-right: 30px;
  position: relative;
  &:last-child {
    margin-right: 0px;
  }
}

.work__thumb {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.work__text {
  @include font(14px, 1.14, 0.03em, 700);
  text-align: center;
  text-transform: uppercase;
  color: var(--title-text-color);
}
