:root {
  --primary-text-color: #757575;
  --header-text-color: #212121;
  --title-text-color: #ffffff;
  --accent-text-color: #2196f3;
  --primary-white-color: #ffffff;
  --section-bg-color: #2f303a;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --logo-main-color: #2196f3;
  --logo-dark-color: #000000;
  --logo-light-color: #ffffff;
  --team-bg-color: #f5f4fa;
  --portfolio-box-color: #eeeeee;
  --hero-bg-color: #c4c4c4;
  --icon-color: #afb1b8;
  --icon-hover-color: #2196f3;
  --features-bg-color: #f5f4fa;
  --border-color: #eeeeee;
  --header-line-color: #ececec;
}
